<%= form_for @idea do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    Tags (seperate with comma ','): <%= f.text_field :tag_list %>
  </p>
  <p class="location_details" style="display:none"></p>
  <p><%= f.submit %></p>
<% end %>
<!-- TODO: Tiered Tag Cloud. Maybe step by step form, all ajaxy? -->
