<%= form_for @idea do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.select :type, @types.invert %>
  </p>
  <p>
    <%= f.select :location, @locations.invert %>
  </p> 
  <p class="location_details" style="display:none"></p>
  <p><%= f.submit %></p>
<% end %>
<!-- TODO: Tiered Tag Cloud. Maybe step by step form, all ajaxy? -->
