<div class="idea">
  <h2><%= idea.subject %></h2>
  <p id="votes_<%= idea.id %>" class="votes"><span><%= idea.votes %> (<%= idea.up_votes %> <%= raw '<a href="javascript://" class="upvote">+</a>' if user_signed_in?%> / <%= idea.down_votes %> <%= raw '<a href="javascript://" class="downvote">-</a>' if user_signed_in?%>)</span></p>
  <p class="description"><%= idea.description %></p>
  <p class="submitter"><%= idea.submitter.email %></p>
  <p class="owner_actions">
      <%= link_to "Edit", edit_idea_path(idea) if (current_user && idea.submitter.id == current_user.id) %>
      <%= link_to "Destroy", idea, :confirm => 'Are you sure?', :method => :delete  if (current_user && idea.submitter.id == current_user.id) %>
  </p>
 </div>
