<div class="idea">
  <h2><%= idea.subject %></h2>
  <p class="view_idea">
    <%= link_to "View", idea_path(idea) %> | 
    <%= link_to "Edit", edit_idea_path(idea) if (current_user && idea.submitter.id == current_user.id) %> | 
    <%= link_to "Delete", idea, :confirm => 'Are you sure?', :method => :delete  if (current_user && idea.submitter.id == current_user.id) %>
  </p>
  <div id="votes_<%= idea.id %>" class="votes index">
  
    <span>
  
      <span class="total_votes"><span><%= idea.plusminus %></span></span>
      <span class="upvote_container"><%= raw '<a href="javascript://" class="upvote">+</a>' if user_signed_in?%></span>
      <span class="downvote_container"><%= raw '<a href="javascript://" class="downvote">&ndash;</a>' if user_signed_in?%></span>
      
      <input type="hidden" class="idea" value="<%= idea.id %>" />
    </span>
  </div>
  <div class="idea_info">
    <%= simple_format idea.description %>
    <div class="submitter">
      <span class="submitter_email"><strong>Submitted By: </strong><%= idea.submitter.name %></span>
      <span class="total_comments"><strong>Total Comments: </strong><span class="number_comments"><%= idea.comment_threads.count %></span></span>
    </div>
  </div>
  <div class="tag_cloud">
    <%= idea.tags.join(', ') %>
  </div>
  <span class="clear"></span>
</div>
