.idea
  .vote_info{:id=>"votes_#{idea.id}"}
    .total_votes.circle_base
      %span= idea.plusminus
    .left_ear.circle_base= '<a href="javascript://" class="upvote">+</a>'.html_safe if user_signed_in?
    .right_ear.circle_base= '<a href="javascript://" class="downvote">&ndash;</a>'.html_safe if user_signed_in?    
    %input.idea{:type => "hidden", :value => idea.id}
  .idea_info
    %h2= idea.subject
    .owner_options
      =link_to "Edit", edit_idea_path(idea) if (current_user && idea.submitter.id == current_user.id)
      | 
      =link_to "Delete", idea, :confirm => 'Are you sure?', :method => :delete  if (current_user && idea.submitter.id == current_user.id)
    .idea_desc
      =simple_format idea.description
      .view
        =link_to "View", idea_path(idea)
    .idea_footer
      .submitter
        .submitter_email
          %strong Submitted By:
          =idea.submitter.name
      .total_comments
        %strong Total Comments:
        %span.number_comments= idea.comment_threads.count
      .tag_cloud
        = idea.tags.join(', ')
