<% title "Ideas" %>

<table>
  <tr>
    <th>Subject</th>
    <th>Description</th>
    <th>Submitter</th>
  </tr>
  <% for idea in @ideas %>
    <tr>
      <td><%= idea.subject %></td>
      <td><%= idea.description %></td>
      <td><%= idea.submitter_id %></td>
      <td><%= link_to "Edit", edit_idea_path(idea) %></td>
      <td><%= link_to "Destroy", idea, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Idea", new_idea_path %></p>
