<div class="@idea">
  <h2><%= @idea.subject %></h2>
  <p id="votes_<%= @idea.id %>" class="votes show">
    <span>
      <%= @idea.plusminus %> (<%= @idea.votes_for %> <%= raw '<a href="javascript://" class="upvote">+</a>' if user_signed_in?%> / <%= @idea.votes_against %> <%= raw '<a href="javascript://" class="downvote">-</a>' if user_signed_in?%>)
      <input type="hidden" class="idea" value="<%= @idea.id %>" />

    </span>
  </p>
  <p class="description"><%= @idea.description %></p>
  <p class="submitter"><%= @idea.submitter.email %></p>
  <p class="owner_actions">
      <%= link_to "Edit", edit_idea_path(@idea) if (current_user && @idea.submitter.id == current_user.id) %>
      <%= link_to "Destroy", @idea, :confirm => 'Are you sure?', :method => :delete  if (current_user && @idea.submitter.id == current_user.id) %>
  </p>
 </div>

<div id="comments">
  <div>
    <%= link_to "Add Comment", new_comment_idea_path(@idea), {:class => 'reply'}  %>
  </div>
  <% @idea.root_comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>
