<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title><%= content_for?(:title) ? yield(:title) : "Mouse Sourcing" %></title>
  
  <meta name="description" content="Helping come up with a better Disney">
	<meta name="author" content="Brad Huber">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Istok+Web&v2' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Varela+Round&v2' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="/favicon.ico">
  <%= stylesheet_link_tag "application","stacklayout","styles"%>

  <%= javascript_include_tag :defaults %>
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<%= csrf_meta_tag %>
  <%= yield(:head) %>
  
</head>
<body>
  <div id="page">
    <div class="stack">
      
      <!-- START HEADER -->
      <div id="header">
        
        <!-- Logo, Top left -->
        <header class="stack1of2">
          <span class="stackContent">  
            <h1><a href="#">mOuse<br />&nbsp;&nbsp;&nbsp;sOurcing</a></h1>
            <h2>...dont put up a fence, build a new pathway</h2>
          </span>
        </header>
        
        <!-- top nav, top right -->
        <div class="stack1of2">
          <div id="nav" class="stackContent">
            <div class="menu">
  	          <ul>
  		          <li class="current"><a href="/">Home</a></li>
  		          <li><a href="/pages/about">About</a></li>
  		          <li><a href="/user">Profile</a></li>
  		          <li><a href="/pages/contact">Contact Us</a></li>
  	          </ul>
            </div>
  	      </div>      
  	    </div>
        <!-- Facebook User info, full width below header -->
        <div id="user_info_container" class="stackContent">
          <p id="user_info">
            <% if user_signed_in? %>
              <span>
                <%= current_user.name %><br />
                <%= current_user.email %><br />
                <%= link_to "Log out", destroy_user_session_path %>
              </span>
              <%= image_tag current_user.photo %>
            <% else %>
            <a href="/auth/facebook" class="auth_provider">
              <%= image_tag "facebook-connect.png", :alt => "Facebook" %>
            </a>
          <% end %>
          </p>
        </div>
                
      </div> <!-- End of div#header -->
      
      
      <!-- start content -->
      <div id="content">
	      <div id="message_wrapper" class="stackContent">			
      		<% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
        </div>
        <%= yield %>
      </div><!-- end of div#content -->

      <!-- Start footer -->      
      <div id="footer">
      
        <!-- footer, left col -->
        <div class="stack1of3">          
      	  <div class="stackContent">			       
      		  <h4>Friends</h4>
            <ul>
	            <li><a href="#">one linkylink</a></li>
	            <li><a href="#">two linkylinks</a></li>
	            <li><a href="#">three linkylinks</a></li>
            </ul>
          </div>
        </div>
        
        <!-- footer middle col -->
				<div class="stack1of3">
				  <div class="stackContent">
					  <h4>Sponsors</h4>
				    <img src="http://placekitten.com/180/180" alt="" /><br /><br />
            <h4>Connect With Us</h4>
				    <ul>
					    <li><a href="http://twitter.com/#!/MouseSourcing">Twitter</a></li>
					    <li><a href="#">Facebook</a></li>
					    <li><a href="#">LinkedIn</a></li>
					    <li><a href="#">Flickr</a></li>
				    </ul>
					</div>
        </div>
        
        <!-- footer right col -->
				<div class="stack1of3">
				  <div class="stackContent">
					  <h4>Coolness</h4>
	            <ul>
		            <li><a href="#">one linkylink</a></li>
		            <li><a href="#">two linkylinks</a></li>
		            <li><a href="#">three linkylinks</a></li>
	            </ul>
          </div>
        </div>
        
        <!-- footer, bottom -->
        <div class="stackContent">
	        <p>&copy; 2010 <a href="#">yoursite.com</a> You know, and other stuff too.</p>
				</div>
      </div>
    
    </div><!-- end stack -->
  </div><!-- end page -->

</body>
</html>
